branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./secrets-gradle-plugin/build.gradle.kts"
          from: "const val version = \".*\""
          to: "const val version = \"${nextRelease.version}\""
        - files:
            - "README.md"
          from: "version \".*\""
          to: "version \"${nextRelease.version}\""
        - files:
            - "README.md"
          from: "version '.*'"
          to: "version '${nextRelease.version}'"
  - - "@semantic-release/exec"
    - prepareCmd: "./gradlew build --warn --stacktrace"
      publishCmd: "./gradlew publishPlugins --warn --stacktrace"
  - - "@semantic-release/git"
    - assets:
        - "./secrets-gradle-plugin/build.gradle.kts"
        - "*.md"
  - "@semantic-release/github"
options:
  debug: true
